.navegadores{
    margin: 0;
    padding: 5px;
    background-color: rgb(233, 123, 195);
    width: 100%;
}
.navegador{
    width:50%;
    background: white;
/*loat: left;*/
}
.navegador2{
    width:50%;
    background-color: white;
   /* float: left;*/
    
}
h1{
    color: blueviolet;
}
.navegador3{
    background-color: white;
    width: 30%;
    float: right;

}